In [1]:
import pandas as pd

In [5]:
names = ["L. Messi", "Cristiano Ronaldo", "Neymar Jr", "J. Oblak", "E. Hazard"]
age = [32, 34, 27, 26, 28]
height_cm = [170, 187, 175, 188, 175]
nationality = ["Argentina", "Portugal", "Brazil", "Slovenia", "Belgium"]
club = ["Paris Saint-Germain", "Manchester United", "Paris Saint-Germain", "Atletico Madrid", "Real Madrid"]
df = pd.DataFrame(index=names, data={"age":age, "height_cm":height_cm, "nationality":nationality, "club":club})

In [6]:
df

                   age  height_cm nationality                 club
L. Messi            32        170   Argentina  Paris Saint-Germain
Cristiano Ronaldo   34        187    Portugal    Manchester United
Neymar Jr           27        175      Brazil  Paris Saint-Germain
J. Oblak            26        188    Slovenia      Atletico Madrid
E. Hazard           28        175     Belgium          Real Madrid

# Selecting with a single value

In [7]:
# obtener la altura de L.Messi
# loc (ubicación)
df.loc["L. Messi", "height_cm"]

# iloc
df.iloc[0, 1]

170

In [8]:
# conseguir la altura de cristiano ronaldo
# loc (ubicación)
df.loc["Cristiano Ronaldo", "height_cm"]

# iloc
df.iloc[1, 1]

187

In [10]:
# obtén todos los datos de L.Messi
# loc (ubicación)
df.loc["L. Messi", :]

# iloc
df.iloc[0, :]

age                             32
height_cm                      170
nationality              Argentina
club           Paris Saint-Germain
Name: L. Messi, dtype: object

# Selecting with a list of values

In [11]:
# obtener todos los datos sobre L.Messi y Cristiano Ronaldo
# loc (ubicación)
df.loc[["L. Messi", "Cristiano Ronaldo"]]

# iloc
df.iloc[[0, 1]]

                   age  height_cm nationality                 club
L. Messi            32        170   Argentina  Paris Saint-Germain
Cristiano Ronaldo   34        187    Portugal    Manchester United

In [12]:
# obtener la altura de L.Messi y Cristiano Ronaldo
df.loc[["L. Messi", "Cristiano Ronaldo"], "height_cm"]

# obtener la altura de L.Messi y Cristiano Ronaldo
df.iloc[[0, 1], 1]

L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

# Selecting a range of data with a slice

In [13]:
# etiquetas de columna de corte: de edad a nacionalidad
# loc (ubicación)
players = ["L. Messi", "Cristiano Ronaldo"]
df.loc[players, "age":"nationality"]

# iloc
players = [0, 1]
df.iloc[players, 0:3] # age:nationality + 1

                   age  height_cm nationality
L. Messi            32        170   Argentina
Cristiano Ronaldo   34        187    Portugal

# Selecting with conditions

In [14]:
# una condición: seleccione un jugador con una altura superior a 180 cm
# loc (ubicación)
columns = ["age", "height_cm", "club"]
df.loc[df["height_cm"]>180, columns]

# iloc
columns = [0, 1, 3]
df.iloc[list(df["height_cm"]> 180), columns]

                   age  height_cm               club
Cristiano Ronaldo   34        187  Manchester United
J. Oblak            26        188    Atletico Madrid

In [15]:
# condiciones múltiples: seleccione un jugador con una altura superior a 180 cm que jugó en PSG

# loc (ubicación)
df.loc[(df["height_cm"]>170) & (df["club"] == "Paris Saint-Germain"), :]

# iloc
df.iloc[list((df["height_cm"]> 170) & (df["club"]=="Paris Saint-Germain")), :]

           age  height_cm nationality                 club
Neymar Jr   27        175      Brazil  Paris Saint-Germain