In [1]:
# import pandas
import pandas as pd

In [2]:
# Opcional: use pd.set_option() para mostrar todas las filas en un dataframe de forma predeterminada
# pd.set_option('display.max_rows', 600)

# Create a DataFrame

In [3]:
# lea el archivo csv "bestsellers con categorías" (Conjunto de datos sobre los 50 libros más vendidos de Amazon de 2009 a 2019).
df_books = pd.read_csv("./bestsellers with categories.csv")

In [4]:
# obtener acceso al atributo de forma
df_books.shape

(550, 7)

In [5]:
# encontrar los tipos de datos de cada columna
df_books.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Display a DataFrame

In [6]:
# mostrar las primeras 5 filas en un marco de datos
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [7]:
# describir las estadísticas básicas del marco de datos (media, std, min, max)
df_books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column

In [9]:
# Su tarea es crear una columna llamada 'Calificación crítica' que debe tener números enteros aleatorios entre 1 y 4

# 1. importa numpy y crea 550 números enteros aleatorios entre 1 y 4
import numpy as np
int_rating = np.random.randint(1, 4, 550)

#2. agregue la nueva columna 'Calificación crítica' al dataframe usando los números aleatorios creados
df_books["Critic Rating"] = int_rating

In [10]:
# mostrar las primeras 5 filas
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,3

# Basic Attributes, Methods and Functions

In [11]:
# obtener acceso al atributo de columnas
df_books.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critic Rating'],
      dtype='object')

# Selecting Two or More Columns from a Dataframe

In [12]:
# cree una columna llamada "Calificación promedio" usando la siguiente fórmula: Calificación promedio = (Calificación del usuario + Calificación del crítico)/2

df_books["Average Rating"] = (df_books["User Rating"] + df_books["Critic Rating"])/2

In [13]:
# use la función de ronda para redondear los valores del marco de datos a 1 decimal y actualice el dataframe
df_books = round(df_books, 1)

# Value Counts

In [14]:
# cuente los elementos en la columna "Género" por categoría y devuelva la frecuencia relativa
df_books["Genre"].value_counts(normalize = True)

Non Fiction    0.563636
Fiction        0.436364
Name: Genre, dtype: float64

# Rename Columns

In [15]:
# cambie el nombre de las columnas "Calificación del usuario", "Calificación crítica" y "Calificación promedio" a "UR", "CR" y "AR" y luego actualice el dataframe con el parámetro en el lugar
df_books.rename(columns={"User Rating":"UR", "Critic Rating":"CR", "Average Rating":"AR"}, inplace=True)

In [16]:
# mostrar las primeras 5 filas
df_books.head()

,Name,Author,UR,Reviews,Price,Year,Genre,CR,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2,3.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2,3.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,1,2.8
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3,3.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,3,3.9

In [17]:
# seleccione solo las columnas "Nombre", "Autor", "UR", "CR", "AR" y "Año" y actualice el dataframe
df_books = df_books[["Name", "Author", "UR", "CR", "AR", "Year"]]

# Sort a dataframe

In [18]:
# ordenar el dataframe descendiendo por "UR" y "CR"
df_books.sort_values(["UR", "CR"], ascending=False)

,Name,Author,UR,CR,AR,Year
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,3,4.0,2017
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,3,4.0,2019
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,3,4.0,2018
86,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,4.9,3,4.0,2019
151,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,3,4.0,2016
...,...,...,...,...,...,...
392,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,2,3.0,2013
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,1,2.4,2012
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,1,2.4,2013
132,Go Set a Watchman: A Novel,Harper Lee,3.6,3,3.3,2015
353,The Casual Vacancy,J.K. Rowling,3.3,2,2.6,2012